*{
    margin:0;
}

header{
    background-color: #0020F4;
    height:;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 280px;
}
.main-img{
    
}

ul{
    list-style-type: none;
    display: inline;
}

a{
    color: white;
    text-decoration: none;
}

.contact{
    background-color: #ffffff;
    border-radius: 45px;
    color: black;
    padding-top: 18px;
    padding-left: 43px;
    padding-bottom: 18px;
    padding-right: 43px;
}

nav{
  padding-top: 5px;
  text-align: center;
}