*{
    margin:0;
}

header{
    background-color: #0020F4;  
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 280px;
    column-gap: 100px;
}

ul{
    list-style-type: none;
    display: inline;
}

a{
    color: white;
    text-decoration: none;
}

.contact{
    background-color: #ffffff;
    border-radius: 45px;
    color: black;
    padding-top: 18px;
    padding-left: 43px;
    padding-bottom: 18px;
    padding-right: 43px;
}

nav{
  padding-top: 5px;
  text-align: center;
}

div{
    margin-left: 30px;
}

.rectangle1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  margin-top: -160px;
  size: 1920px;
}

.main-text{
  margin-left: 367px;
}